*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.main-container{
    width: 100%;
    min-height: 100vh; 
    padding: 10px;
    background: linear-gradient( 135deg, #153677, #4e085f);    
}

.todo-list{
    width: 100%;
    max-width: 540px;
    background: #ffffff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-list h2{
display: flex;
text-align: center;
color: #002765;
margin-bottom: 20px;
}

.todo-list img{
    width: 30px;
    margin-left: 10px;
    
}